segment-anything
super-gradients
# scikit-image
tensorboardX
# albumentations
# addict
# easydict
# pytorch-lightning
# timm
# pretrainedmodels
# efficientnet_pytorch
# segmentation-models-pytorch
# torchsummary
# torchviz
jupyterlab
roboflow
dataclasses-json 
supervision
jupyter_bbox_widget
jupyterlab-nvdashboard
