segment-anything @ git+https://github.com/facebookresearch/segment-anything.git
super-gradients @ git+https://github.com/Deci-AI/super-gradients.git@stable
# scikit-image
tensorboardX
# albumentations
# addict
# easydict
# pytorch-lightning
# timm
# pretrainedmodels
# efficientnet_pytorch
# segmentation-models-pytorch
# torchsummary
# torchviz
jupyterlab
roboflow
dataclasses-json 
supervision
jupyter_bbox_widget
jupyterlab-nvdashboard
